aiohappyeyeballs
aiohttp
aiosignal
alembic
attrs
certifi
charset-normalizer
colorlog
contourpy
cycler
databento
databento-dbn
filelock
fonttools
frozenlist
fsspec
greenlet
idna
Jinja2
joblib
kiwisolver
llvmlite
Mako
MarkupSafe
matplotlib
mpmath
multidict
networkx
numba
numpy
optuna
packaging
pandas
pandas-ta
patsy
pillow
propcache
pyarrow
pyparsing
python-dateutil
PyYAML
requests
scikit-learn
scipy
seaborn
setuptools
six
SQLAlchemy
statsmodels
sympy
threadpoolctl
torch --index-url https://download.pytorch.org/whl/rocm7.1
tqdm
triton-rocm
typing_extensions
urllib3
yarl
zstandard